language: python
cache: pip
matrix:
  include:
    - python: 2.7
      env: TOXENV=py27
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37
    - python: 3.8
      env: TOXENV=py38
    - python: 3.7
      env: TOXENV=precommit
    - python: 3.7
      env: TOXENV=flake8
  allow_failures:
    env: TOXENV=precommit
addons:
  chrome: stable
  firefox: latest
env:
  global:
    - MOZ_HEADLESS=1
install:
  - pip install tox
  # install specific webdrivers for selenium
  - ./test/install_webdrivers
  - export PATH="$HOME/.local/bin:$PATH"
script:
  - tox
