@charset "UTF-8";
/* latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('/res/font.woff2') format('woff2');
}
textarea:focus,
input[type='checkbox']:focus,
input[type='color']:focus,
input[type='number']:focus,
input[type='date']:focus,
select:focus {
    border: 0px;
    outline: 0px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14);
    border-bottom: 1px solid rgba(33, 150, 243, .26);
}
::-moz-selection {
    background: rgba(33, 150, 243, .26);
    text-shadow: none
}
::selection {
    background: rgba(33, 150, 243, .26);
    text-shadow: none
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}
textarea {
    resize: vertical
}
a,
a:visited {
    text-decoration: underline
}
html {
    height: 100%;
}
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    min-height: 100%;
}
*[hidden] {
    display: none!important
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -.02em;
    opacity: .54;
    font-size: .6em
}
h1 {
    font-size: 56px;
    line-height: 1.35;
    letter-spacing: -.02em;
    margin: 24px 0
}
h1,
h2 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400
}
h2 {
    font-size: 45px;
    line-height: 48px
}
h2,
h3 {
    margin: 24px 0
}
h3 {
    font-size: 34px;
    line-height: 40px
}
h3,
h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400
}
h4 {
    font-size: 24px;
    line-height: 32px;
    -moz-osx-font-smoothing: grayscale;
    margin: 24px 0 16px
}
h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .02em
}
h5,
h6 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 24px 0 16px
}
h6 {
    font-size: 16px;
    letter-spacing: .04em
}
h6,
p {
    font-weight: 400;
    line-height: 24px
}
p {
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 0 16px
}
a {
    color: rgba(33, 150, 243, .8);
    font-weight: 500
}
blockquote {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    position: relative;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.35;
    letter-spacing: .08em
}
blockquote:before {
    position: absolute;
    left: -.5em;
    content: '�'
}
blockquote:after {
    content: '�';
    margin-left: -.05em
}
mark {
    background-color: #f4ff81
}
dt {
    font-weight: 700
}
address {
    font-size: 12px;
    line-height: 1;
    font-style: normal
}
address,
ul,
ol {
    font-weight: 400;
    letter-spacing: 0
}
ul,
ol {
    font-size: 14px;
    line-height: 24px
}
.RaisedFrame {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    z-index: 1;
}
body>div {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
div {
    background-color: white;
    z-index: 0;
}
.ListView {
    border: none;
    padding: 0;
    background-color: white;
    cursor: default;
    overflow: auto;
    list-style: none;
}
option:hover {
    background: rgba(33, 150, 243, .26) outline: 1px solid red;
}
.ListItem:hover {
    background: rgba(33, 150, 243, .26)
}
.ListItem[selected='True'] {
    background: rgba(33, 150, 243, .26)
}
input[type='number'],
input[type='date'],
input[type='color'],
textarea,
li,
select {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    display: block;
    font-size: 14px;
    font-family: inherit;
    margin: 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
    padding: 0;
}
input[type='checkbox'] {
    height: 100%;
    min-height: 20px;
    min-width: 20px;
}
button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 36px;
    margin: 0;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    will-change: box-shadow;
    transition: box-shadow .1s cubic-bezier(.4, 0, 1, 1), background-color .1s cubic-bezier(.4, 0, .2, 1), color .1s cubic-bezier(.4, 0, .2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    background: rgb(33, 150, 243);
    color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
button:focus {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    font-weight: bold;
}
button:disabled {
    background-color: #ddd;
    background: #ddd;
    border: 1px solid #ddd;
}
.TextInput {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    display: block;
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
}
table {
    border-spacing: 0;
    overflow: scroll;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}
.TableItem {
    padding: 0px;
    border: none;
    outline: 0px;
    border-bottom: 1px solid rgb(218, 218, 218);
}
td {
    border: none;
    outline: 0px;
    background-color: inherit;
}
th {
    border: 0px;
    outline: 0px;
    background: rgb(33, 150, 243);
    color: rgb(255, 255, 255);
    font-weight: normal;
}
p.DialogTitle {
    background: rgb(33, 150, 243);
    border: 0px;
    margin: 0px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}
p.Title {
    border: 0px;
    color: inherit;
    font-weight: bold;
}
nav > ul.Menu {
    background: rgb(33, 150, 243);
    border: 0px;
    color: white;
}
ul.Menu {
    list-style-type: none;
    padding: 0;
    position: relative;
}
.MenuItem {
    cursor: default;
    text-align: center;
    position: relative;
}
.Menu .Menu {
    position: absolute;
}
.Menu .Menu .Menu {
    top: 5%;
    left: 95%;
    position: absolute;
}
.MenuItem .Menu {
    display: none;
    background-color: white;
    /*border: 1px solid #9C9B9B;*/

    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    color: black;
    height: auto !important;
    position: absolute;
    top: 100%;
}
.MenuBar>.Menu>.MenuItem {
    border-bottom: 0;
}
.MenuBar {
    border-bottom: 1px solid rgba(0, 0, 0, .26);
}
.Menu > .MenuItem:hover {
    background: rgb(33, 150, 243);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.MenuItem .MenuItem:hover {
    background: rgba(33, 150, 243, .26);
}
.Menu::after {
    content: "";
    clear: both;
}
.MenuItem:hover > .Menu {
    display: block;
}
input.file {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgb(33, 150, 243);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    padding: 0;
    color: rgb(33, 150, 243);
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    z-index: 1;
    cursor: pointer;
    height: 100%;
}
input[type='range']::-moz-focus-outer {
    border: 0
}
input[type='range']::-ms-tooltip {
    display: none
}
input[type='range']::-webkit-slider-runnable-track {
    background: rgba(33, 150, 243, .26);
    height: 2px;
}
input[type='range']::-moz-range-track {
    background: rgba(33, 150, 243, .26);
    height: 2px;
    border: none;
}
input[type='range']::-ms-track {
    background: rgba(33, 150, 243, .26);
    height: 2px;
    color: transparent;
    width: 100%;
    border: none;
}
input[type='range']::-ms-fill-lower {
    padding: 0;
    background: linear-gradient(to right, transparent, transparent 16px, rgb(33, 150, 243), rgb(33, 150, 243)0)
}
input[type='range']::-ms-fill-upper {
    padding: 0;
    background: linear-gradient(to left, transparent, transparent 16px, rgba(0, 0, 0, .26), rgba(0, 0, 0, .26)0)
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    top: -5px;
    width: 12px;
    height: 12px;
    position: relative;
    box-sizing: border-box;
    border-radius: 100%;
    background: rgb(33, 150, 243);
    border: none;
    transition: transform .18s cubic-bezier(.4, 0, .2, 1), border .18s cubic-bezier(.4, 0, .2, 1), box-shadow .18s cubic-bezier(.4, 0, .2, 1), background .28s cubic-bezier(.4, 0, .2, 1);
    transition: transform .18s cubic-bezier(.4, 0, .2, 1), border .18s cubic-bezier(.4, 0, .2, 1), box-shadow .18s cubic-bezier(.4, 0, .2, 1), background .28s cubic-bezier(.4, 0, .2, 1), -webkit-transform .18s cubic-bezier(.4, 0, .2, 1)
}
input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border-radius: 100%;
    background-image: none;
    background: rgb(33, 150, 243);
    border: none
}
input[type='range']:focus:not(:active)::-webkit-slider-thumb {
    box-shadow: 0 0 0 10px rgba(33, 150, 243, .26)
}
input[type='range']:focus:not(:active)::-moz-range-thumb {
    box-shadow: 0 0 0 10px rgba(33, 150, 243, .26)
}
input[type='range']:active::-webkit-slider-thumb {
    background-image: none;
    background: rgb(33, 150, 243);
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
}
input[type='range']:active::-moz-range-thumb {
    background-image: none;
    background: rgb(33, 150, 243);
    transform: scale(1.5)
}
input[type='range']::-ms-thumb {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background: rgb(33, 150, 243);
    transform: scale(.375);
    transition: transform .18s cubic-bezier(.4, 0, .2, 1), background .28s cubic-bezier(.4, 0, .2, 1);
    transition: transform .18s cubic-bezier(.4, 0, .2, 1), background .28s cubic-bezier(.4, 0, .2, 1), -webkit-transform .18s cubic-bezier(.4, 0, .2, 1)
}
input[type='range']:focus:not(:active)::-ms-thumb {
    background: radial-gradient(circle closest-side, rgb(33, 150, 243)0%, rgb(33, 150, 243)37.5%, rgba(33, 150, 243, .26)37.5%, rgba(33, 150, 243, .26)100%);
    transform: scale(1)
}
input[type='range']:active::-ms-thumb {
    background: rgb(33, 150, 243);
    transform: scale(.5625)
}
input[type='range']:disabled:focus::-webkit-slider-thumb,
input[type='range']:disabled:active::-webkit-slider-thumb,
input[type='range']:disabled::-webkit-slider-thumb {
    -webkit-transform: scale(.667);
    transform: scale(.667);
    background: rgba(0, 0, 0, .26)
}
input[type='range']:disabled:focus::-moz-range-thumb,
input[type='range']:disabled:active::-moz-range-thumb,
input[type='range']:disabled::-moz-range-thumb {
    transform: scale(.667);
    background: rgba(0, 0, 0, .26)
}
